[[extend 'layout.html']]
<div class="section">

	<h1 class="title">Game Popularity for Age of Empires</h1>

<body>
	<div class="chart">
		<canvas id="myChart" width="400" height="200"></canvas>
	</div>



	<a href="[[=URL('leaveReview'+'/1')]]"><button>Leave a Review for Age of Empires</button></a>








	<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.6.0/Chart.js"></script>
	
	
	
	
	<!--  Offline support, add mobile support later -->

	<script src="../static/js/chart.js"></script>	
	<script src="../static/js/graph.js"></script>
</body>


<h1 class="subtitle">Recent Reviews</h1>
<p>
	<b>Reviewer:</b> Metacritic<br>
	<b>Score:</b> 79<br>
	<b>Review:</b> 
	In theory, I love the Mongols, but the truth is I'm far too slow for them, and get on much better with the Abbasid, who get anti-cavalry camels.



</p>

</html>
</div>