[[extend 'layout.html']]

<div class=subtitle>
  [[=message]]

</div>
<div class="section">

  <p><b>User Actions: Add a new game (crowdsourced), or Search our DB </b></p>
<a href="[[=URL('insert')]]"><button>Add a Game! (Insert)</button></a>

<a href="[[=URL('read')]]"><button>Find all data about any game in our CrowdSourced DB! (Search)</button></a>
</div>





<p><b><i>Admin Actions: </i> </b><p>

<a href="[[=URL('delete')]]"><button>Delete from Games Table</button></a>
<a href="[[=URL('update')]]"><button>Update the Games Table</button></a>
<a href="[[=URL('runadvancedqueries')]]"><button>Run Advanced Queries on Games Table</button></a>


<div class="section">
    <div class="row">
      <div class="column">
        <a href="[[=URL('graph')]]">
        <img src="img/PictureAssets/AgeOfEmpires.jpg">
        </a>

        <a href="[[=URL('game' +'/10')]]">

        <img class="green" src="img/PictureAssets/CSGO.jpg">
</a>


        <img class= "green" src = "img/PictureAssets/DbD.jpg">
        <img src = "img/PictureAssets/DOTA2.jpg">

        <img src = "img/PictureAssets/EscapeFromTarkov.jpg">

        <img src = "img/PictureAssets/FIFA22.jpg">

        <img src = "img/PictureAssets/Fortnite.jpg">

        <img src = "img/PictureAssets/ForzaHorizon5.jpg">

        <img src = "img/PictureAssets/GTAV.jpg">


        <img src="img/PictureAssets/AnimalCrossing.jpg">
        <img src="img/PictureAssets/Apex.jpg">
        <img src="img/PictureAssets/CSGO.jpg">
        <img src="img/PictureAssets/CrabGame.jpg">
      </div>
     
    </div>
</div>

